.idea/*
.vs/*
.cache/*
*/.vitepress/cache/*
dist/*
build/*
coverage/*
node_modules/*
# 忽略掉test里面的全部内容，而没有忽略文件夹自身
test/*
# 因为没有忽略掉test文件夹自身，所以才能对vite-app文件夹实施不忽略
!test/app/
!test/jest/
!test/es/
!test/zzz/
